/* 

Hoja de estilo del formulario de registro

Autor: Julio Tuozzo

*/

#registro {
    display: flex;
}


.img-left {
    background-image: url("/imagenes/3hombre500.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    width:25%;
}

.img-right {
    background-image: url("/imagenes/2mujer500.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    width:25%;
}

.form_registro {
    background-color: #86A614; 
    width:50%;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
}

#registro h2 {
    color:white;
    font-weight: normal;
}

.inputs input {
    width: 80%;
    display: block;
    padding: 3px;
    margin-top: 15px;
    border-radius:5px;
    border: none;
    color:#567317;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}

.novedades {
    padding-top: 20px;
    color:white;

    }

/* Estilo para Tablet */

@media(min-width: 361px) {

}

/* Estilo para desktop */

@media(min-width: 769px) {

}