<header id="encabezado">
    <div id="contenedorLogo">
        <img src="imagenes/logo2056x1806.png" alt="Logo de la To.quio indumetnaria" id="logo">
    </div>
    <nav id="barraNav">
        <ul id="barraNavUl">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/views/home.html">Tienda</a>
            </li>
            <li>
                <a href="/registro">Registro</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/carritoCompras"> <i class="fas fa-shopping-bag"></i></a>
            </li>
        </ul>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
</header>