<%- include ( './partials/head'); %>
    <%- include ( './partials/header'); %>
        <section id="carritoDeCompras">

            <a href="">FAVORITOS<i class="far fa-heart"></i></a>
            <div>
                <article class="productoCarrito">
                    <h4>NOMBRE DE PRODUCTO</h4>
                    <h4>$PRECIO</h4>
                    <div class="contadorCarrito">
                        <i class="fas fa-minus"></i>
                        <h5>1</h5>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </article>

                <article class="productoCarrito">
                    <h4>NOMBRE DE PRODUCTO</h4>
                    <h4>$PRECIO</h4>
                    <div class="contadorCarrito">
                        <i class="fas fa-minus"></i>
                        <h5>1</h5>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </article>

                <article class="productoCarrito">
                    <h4>NOMBRE DE PRODUCTO</h4>
                    <h4>$PRECIO</h4>
                    <div class="contadorCarrito">
                        <i class="fas fa-minus"></i>
                        <h5>1</h5>
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>

                </article>
            </div>
            <div id="carritoTotal">
                <h3>TOTAL</h3>

                <div class="precioTotalCarrito">
                    <h3>$00.00</h3>
                    <h4>incluido IVA</h4>
                </div>

                <button>COMPRAR</button>
            </div>

        </section>
        <%- include ( './partials/footer.ejs'); %>