/********************
COLORES
VERDE OSCURO: #567317 ////#b1a913
VERDE CLARO: #86A614
VERDE SUPER CLARO: #D5D97A
MARRON CLARO: #BEAC94
BLANCO: #F2F2F2
NEGRO: #1C1C1B

TAMAÑOS
TITULOS: 

******************/


/******************************************************************************************************************************CELULAR************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

.titulos {
    font-family: roboto;
}

.parrafos {
    font-family: roboto;
}


/*****************CELULAR NAV*************************/

header {
    display: flex;
}

#encabezado {
    width: 100%;
    background-color: #deeea7;
    padding: 10px 0;
    box-shadow: -1px 10px 7px -4px rgba(0, 0, 0, 0.53);
    z-index: 10;
}

#contenedorLogo {
    margin: auto;
}

#logo {
    width: 60%;
    padding: 0 25px;
    margin: auto;
}

#barraNavUl {
    display: none;
}

#barraNavUl li a {
    color: #86A614;
}

.burger-menu {
    display: flex;
    justify-content: center;
}

.fa-bars {
    background-color: #D5D97A;
    padding: 10px;
    margin: 20px;
    border-radius: 3px;
    color: #ebebeb;
}


/*****************CELULAR BANNER*************************/

#bannerHome {
    display: none;
}


/*****************CELULAR PROMOCIONES*************************/

#promocionesHome {
    display: none;
}


/*****************CELULAR DESCUENTOS*************************/

#descuentosHome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.cajaArticulo {
    margin: 15px 10px;
    width: 88%;
    box-shadow: 10px 12px 26px -2px rgba(0, 0, 0, 0.48);
    border-radius: 25px;
}

.cajaArticulo:hover {
    border: solid 2px #eca000;
    transition-duration: 2s;
}

.cajaDescripcionProducto .iconoDescuento {
    font-size: 0.9em;
    margin: 0 0 0 15px;
    padding: 3px;
    text-align: right;
    color: #eca000;
}

.cajaDescripcionProducto {
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.imgOferta {
    width: 100%;
    border-radius: 25px 25px 0 0;
}

.tituloProductoHome {
    width: 75%;
}

.detalleProductoHome {
    width: 100%;
}

.precioHome {
    width: 100%;
}


/*****************CELULAR METODOS DE PAGO*************************/

#metodosDePagoHome {
    margin-top: 100px;
    width: 100%;
}

.pagosHome {
    margin: 50px 0;
    background-color: white;
    box-shadow: 10px 10px 30px -2px rgb(0 0 0 / 46%);
    width: 100%;
    padding: 15px;
}

.pagosHome div p {
    font-size: 1.2rem;
    text-align: center;
}


/*****************CELULAR FOOTER*************************/

footer {
    background-color: #b1a913;
    color: white;
    font-size: 8px;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 0;
}

#navFooter {
    margin-bottom: 15px;
}

#navFooter ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}

#navFooter ul li {
    margin: 0 5px;
    list-style: none;
    width: 100%;
}

#navFooter ul li a {
    color: #F2F2F2;
    text-decoration: none;
    font-size: 9px;
}

#redesFooter {
    margin-bottom: 15px;
}

#redesFooter ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
}

#redesFooter ul li {
    margin: 10px 15px;
    list-style: none;
}

#redesFooter ul li a {
    color: #F2F2F2;
    text-decoration: none;
    font-size: 9px;
    margin: 10px 5px;
}


/******************************************************************************************************************************TABLET************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

@media(min-width: 361px) {
    /*****************TABLET NAV*************************/
    #encabezado {
        display: flex;
        align-items: center;
    }
    #contenedorLogo {
        margin-left: 50px;
        width: 10%;
    }
    #logo {
        max-width: 100%;
        padding: 0;
        margin: auto;
    }
    #barraNavUl {
        display: inline;
        padding: 0;
    }
    #barraNav {
        margin-left: auto;
        margin-right: 10px;
    }
    li a {
        color: #f2f2f2;
        text-decoration: none;
        font-size: 14px;
        text-align: center;
    }
    ul li {
        list-style: none;
        display: inline;
        margin: 0 10px;
        display: inline;
    }
    ul {
        width: 100%;
    }
    #barraNav i {
        font-size: 1em;
    }
    .burger-menu {
        display: none;
    }
    /*****************TABLET BANNER*************************/
    #bannerHome {
        display: block;
        margin: 10px 0 22px 0;
    }
    /*****************TABLET PROMOCIONES*************************/
    #promocionesHome {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 150px;
    }
    #banner {
        background-image: url('../images/Recurso-27.jpg');
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
    }
    #promocionesBanner {
        padding: 0 15px;
        width: 50%;
    }
    #mujerFotoBanner {
        background-image: url('../images/Product-9.jpg');
        width: 35%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
    }
    #hombreFotoBanner {
        background-image: url('../images/Product-6.jpg');
        width: 48%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
    }
    #promocionesBanner h2 {
        font-size: 50px;
        margin: 55px 0 35px 0;
        font-family: 'Marcellus', 'Roboto', serif;
    }
    #promocionesBanner h3 {
        margin-top: 100px;
        margin-left: 35px;
        font-size: 80px;
        font-family: 'Marcellus', 'Roboto', serif;
    }
    #promocionesBanner .parrafos {
        font-family: 'Marcellus', 'Roboto', serif;
        font-size: 15x;
    }
    /*****************TABLET DESCUENTOS*************************/
    #descuentosHome {
        width: 100%;
        margin: 0 auto 0 auto;
        display: flex;
        padding: 10%;
    }
    .cajaArticulo {
        margin: 15px 5px;
        width: 45%;
    }
    /*****************TABLET METODOS DE PAGO*************************/
    /*****************TABLET FOOTER*************************/
    #navFooter ul li a {
        font-size: 12px;
    }
    #redesFooter ul li a {
        font-size: 12px;
    }
    #redesFooter i {
        font-size: 1.7em;
    }
}


/******************************************************************************************************************************DESKTOP************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

@media(min-width: 769px) {
    /*****************DESKTOP NAV*************************/
    #encabezado {
        display: flex;
        align-items: center;
    }
    /*
    #logo {
        width: 70%;
    }*/
    #barraNav {
        margin-right: 25px;
    }
    li a {
        font-size: 16px;
    }
    /*****************DESKTOP BANNER*************************/
    /*****************DESKTOP PROMOCIONES*************************/
    /*****************DESKTOP DESCUENTOS*************************/
    .cajaArticulo {
        width: 30%;
        margin: 15px 10px;
    }
    /*****************DESKTOP METODOS DE PAGO*************************/
    /*****************DESKTOP FOOTER*************************/
    #navFooter ul li a {
        font-size: 18px;
    }
    #redesFooter ul li a {
        font-size: 18px;
    }
    #redesFooter i {
        font-size: 2em;
    }
}