<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/prodDetalleStyle.css">
    <title>Detalle del producto</title>
</head>
<body>
    <header>
        <div class="contenedor">
            <div class="contenido">
                <i class="fas fa-bars"></i>
                <a href="#"><img src="imagenes/logo.png" alt="logo"></a>
            </div>
            <div class="contenido">
                <i class="fas fa-search"></i>
                <i class="fas fa-user"></i>
                <i class="fas fa-shopping-bag"></i>
            </div>
        </div>
    </header>

    <div class="main">
        <div class="descrip">
           <img src="images/1mujer500.jpg" alt="imagen-mujer">
        </div>
        <div class="descrip">
            <img src="images/2mujer500.jpg" alt="imagen2-mujer">
        </div>
        <div class="descrip">
            <div class="conten-descrip">
            <h2> Falda Fetina New Cuero</h2>
            <p>$ 69.900</p>
            <p>New in</p>
            </div>
            <div class="conten-descrip">
                <p>COLOR: NEGRO</p>
                <i class="fas fa-circle"></i>
                <p>TALLE</p>
                <a href="#">GUÍA DE TALLES</a>
            </div>
            <div class="conten-descrip">
                <button type="button">COMPRAR</button>
            </div>
            <div class="conten-descrip"></div>
                <h4>DETALLE DEL PRODUCTO:</h4>
                <p>Falda de cuero midi, con elástico en la parte trasera. Cintura delantera con apliques. Una prenda super iconica de esta temporada</p>
                <h4>Referencia Modelo</h4>
                <p>La modelo esta usando Talle: S Altura: 1,76 mts // Contorno de busto: 80 cm //Contorno de cintura: 63 cm // Contorno de Cadera: 91 cm</p>
        </div>
    </div>
</body>
</html>