<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--ICONOS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!--FUENTES-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto&display=swap" rel="stylesheet">
    <!--ESTILOS PROPIOS-->
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>

<body>
    <header id="encabezado">
        <div id="contenedorLogo">
            <img src="imagenes/logo2056x1806.png" alt="Logo de la To.quio indumetnaria" id="logo">
        </div>
        <nav id="barraNav">
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Tienda</a>
                </li>
                <li>
                    <a href="">Contacto</a>
                </li>
                <li>
                    <a href="/views/home.html"> <i class="fas fa-shopping-cart"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <section id="bannerHome">


    </section>
    <section id="promociones">
        <div id="mujerFotoBanner">
            <!--<img src="imagenes/mujer1.jpg" alt="">-->

        </div>
        <div id="descuentoBanner">
            <h2>Lorem ipsum </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, et aperiam. Dolorum, non ratione! Nam quaerat voluptate </p>
            <h3>50%</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
        <div>
            <img src="imagenes/hombre1.jpg" alt="" id="hombreFotoBanner">
        </div>
    </section>

</body>

</html>