<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--ICONOS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!--FUENTES-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto&display=swap" rel="stylesheet">
    <!--ESTILOS PROPIOS-->
    <link rel="stylesheet" href="css/estiloHome.css">
    <title>Home</title>
</head>

<body>
    <header id="encabezado">
        <div id="contenedorLogo">
            <img src="imagenes/logo2056x1806.png" alt="Logo de la To.quio indumetnaria" id="logo">
        </div>
        <nav id="barraNav">
            <ul id="barraNavUl">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/views/home.html">Tienda</a>
                </li>
                <li>
                    <a href="/registro">Registro</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/carritoCompras"> <i class="fas fa-shopping-bag"></i></a>
                </li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <section id="bannerHome">


    </section>
    <section id="promocionesHome">
        <div id="mujerFotoBanner">


        </div>
        <div id="promocionesBanner">
            <h2>Lorem ipsum </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, et aperiam. Dolorum, non ratione! Nam quaerat voluptate </p>
            <h3>50%</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
        <div id="hombreFotoBanner">

        </div>
    </section>
    <section id="descuentosHome">
        <article class="cajaArticulo">
            <a href="/detalleProducto"> <img src="imagenes/1mujer500.jpg" alt="" class="imgOferta"></a>
            <div class="cajaDescripcionProducto">

                <h4 class="tituloProductoHome">Top mujer</h4>
                <i class="fas fa-tags iconoDescuento"></i>
                <p class="detalleProductoHome">Hasta agotar stock</p>
                <p class="precioHome">$2.500</p>
            </div>
        </article>
        <article class=" cajaArticulo ">
            <a href="/detalleProducto"><img src="imagenes/2mujer500.jpg " alt=" " class="imgOferta "></a>
            <div class="cajaDescripcionProducto ">

                <h4 class="tituloProductoHome">Top mujer</h4>
                <i class="fas fa-tags iconoDescuento "></i>
                <p class="detalleProductoHome">Hasta agotar stock</p>
                <p class="precioHome">$2.500</p>
            </div>
        </article>
        <article class="cajaArticulo ">
            <a href="/detalleProducto"><img src="imagenes/3mujer500.jpg " alt=" " class="imgOferta "></a>
            <div class="cajaDescripcionProducto ">

                <h4 class="tituloProductoHome">Top mujer</h4>
                <i class="fas fa-tags iconoDescuento "></i>
                <p class="detalleProductoHome">Hasta agotar stock</p>
                <p class="precioHome">$2.500</p>
            </div>
        </article>
        <article class="cajaArticulo ">
            <a href="/detalleProducto"><img src="imagenes/1hombre500.jpg " alt=" " class="imgOferta "></a>
            <div class="cajaDescripcionProducto ">

                <h4 class="tituloProductoHome">Top mujer</h4>
                <i class="fas fa-tags iconoDescuento "></i>
                <p class="detalleProductoHome">Hasta agotar stock</p>
                <p class="precioHome">$2.500</p>
            </div>
        </article>
        <article class="cajaArticulo ">
            <a href="/detalleProducto"><img src="imagenes/2hombre500.jpg " alt=" " class="imgOferta "></a>
            <div class="cajaDescripcionProducto ">

                <h4 class="tituloProductoHome">Top mujer</h4>
                <i class="fas fa-tags iconoDescuento "></i>
                <p class="detalleProductoHome">Hasta agotar stock</p>
                <p class="precioHome">$2.500</p>
            </div>
        </article>
        <article class="cajaArticulo ">
            <a href="/detalleProducto"><img src="imagenes/3hombre500.jpg " alt=" " class="imgOferta "></a>
            <div class="cajaDescripcionProducto ">

                <h4 class="tituloProductoHome">Top mujer</h4>
                <i class="fas fa-tags iconoDescuento "></i>
                <p class="detalleProductoHome">Hasta agotar stock</p>
                <p class="precioHome">$2.500</p>
            </div>
        </article>
        <article id="metodosDePagoHome ">
            <div class="pagosHome">
                <h2>Formas de Pago</h2>
                <i class="fab fa-cc-mastercar"></i>
                <i class="fab fa-cc-vis"></i>
                <i class="fab fa-cc-ame"></i>
                <i class="fab fa-cc-apple-pa"></i>
                <i class="fab fa-cc-amazon-pa"></i>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque omnis aperiam dolorum veritatis, maiores voluptas optio totam </p>
            </div>
        </article>
    </section>
    <footer>
        <div id="navFooter ">
            <nav>
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Nosotros</a>
                    </li>
                    <li>
                        <a href="">Tienda</a>
                    </li>
                    <li>
                        <a href="">FAQ</a>
                    </li>
                    <li>
                        <a href="">Contacto</a>
                    </li>


                </ul>
            </nav>

        </div>
        <div id="redesFooter">
            <ul>
                <li>
                    <i class="fab fa-instagram "></i> <a href=" ">To.quioOK</a>
                </li>
                <li>
                    <i class="fab fa-twitter "></i> <a href=" ">To.quio - Indumentaria</a>
                </li>
                <li>
                    <i class="fab fa-facebook-f "></i> <a href=" ">To.quio</a>
                </li>
                <li>
                    <i class="fab fa-whatsapp "></i> <a href=" ">(911)-12445858</a>
                </li>
                <li>
                    <i class="fas fa-envelope "></i> <a href=" ">to.quio@indumentaria.com</a>
                </li>
            </ul>
        </div>
        <p>
            Copyright grupo5bits. - 2022
        </p>
    </footer>

</body>

</html>