<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--ICONOS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!--FUENTES-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto&display=swap" rel="stylesheet">
    <!--ESTILOS PROPIOS-->
    <link rel="stylesheet" href="css/estiloHome.css">
    <link rel="stylesheet" href="css/estiloLogin.css">
    <title>Login</title>
</head>

<body>
    <header id="encabezado">
        <div id="contenedorLogo">
            <img src="imagenes/logo2056x1806.png" alt="Logo de la To.quio indumetnaria" id="logo">
        </div>
        <nav id="barraNav">
            <ul id="barraNavUl">
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Nosotros</a>
                </li>
                <li>
                    <a href="/views/home.html">Tienda</a>
                </li>
                <li>
                    <a href="">FAQ</a>
                </li>
                <li>
                    <a href="">Contacto</a>
                </li>
                <li>
                    <a href="/views/home.html"> <i class="fas fa-shopping-bag"></i></a>
                </li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <main>
        <section class="imagen1login">
            <img src="imagenes/1mujer500.jpg" alt="imagenhombre500" class="imagen1">
        </section>
        <section class="seccionlogin"> 
            <div class="divlogo"> 
                <img src="/imagenes/logo2056x1806.png" alt="FotoLogo" class="logologin">
            </div>
            <form class="formlogin" action="" method="post">
                <h2 class="h2login">LOGIN</h2>
                <div class="usuariologin">
                    <input type="text" class="inputlogin usuario" name="usuariologin" placeholder="Email o usuario">
                </div>
                <div class="passwordlogin">
                    <input type="password" class="inputlogin pass" name="passwordlogin" placeholder="Contraseña">
                </div>
                <label for=""><a class="olvidemicontrasenia" href="">Olvide mi contraseña</a></label>
                <button class="botoningresarlogin" type="submit">INGRESAR</button>
            </form>
            <div class="registrate">
                <h2 class="registratelogin">No tienes un usuario?</h2>
                <button class="botonregistratelogin" type="submit">REGISTRATE!</button>
            </div>
        </section>
        <section class="imagen2login">
            <img src="imagenes/1hombre500.jpg" alt="imagenhombre500" class="imagen2">
        </section>
    </main>
    <footer>
        <div id="navFooter ">
            <nav>
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Nosotros</a>
                    </li>
                    <li>
                        <a href="">Tienda</a>
                    </li>
                    <li>
                        <a href="">FAQ</a>
                    </li>
                    <li>
                        <a href="">Contacto</a>
                    </li>


                </ul>
            </nav>

        </div>
        <div id="redesFooter ">
            <ul>
                <li>
                    <i class="fab fa-instagram "></i> <a href=" ">To.quioOK</a>
                </li>
                <li>
                    <i class="fab fa-twitter "></i> <a href=" ">To.quio - Indumentaria</a>
                </li>
                <li>
                    <i class="fab fa-facebook-f "></i> <a href=" ">To.quio</a>
                </li>
                <li>
                    <i class="fab fa-whatsapp "></i> <a href=" ">(911)-12445858</a>
                </li>
                <li>
                    <i class="fas fa-envelope "></i> <a href=" ">to.quio@indumentaria.com</a>
                </li>
            </ul>
        </div>
        <p>
            Copyright grupo5bits. - 2022
        </p>
    </footer>

</body>
</html>