<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--ICONOS-->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
     <!--FUENTES-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto&display=swap" rel="stylesheet">
     
     <!--ESTILO DEL HOME PARA HEADER Y FOOTER-->
     <link rel="stylesheet" href="css/estiloHome.css">
     <!--ESTILOS PROPIOS-->
     <link rel="stylesheet" href="css/estiloRegistro.css">
     <title>Registro</title>
</head>
<body>
    <header id="encabezado">
        <div id="contenedorLogo">
            <img src="imagenes/logo2056x1806.png" alt="Logo de la To.quio indumetnaria" id="logo">
        </div>
        <nav id="barraNav">
            <ul id="barraNavUl">
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Nosotros</a>
                </li>
                <li>
                    <a href="/views/home.html">Tienda</a>
                </li>
                <li>
                    <a href="">FAQ</a>
                </li>
                <li>
                    <a href="">Contacto</a>
                </li>
                <li>
                    <a href="/views/home.html"> <i class="fas fa-shopping-bag"></i></a>
                </li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>

    <main>
        <div id="registro">
            <div class="img-left">
            </div>
            <form class="form_registro" method="post" action="/registro" >
                <h2>Me quiero registrar</h2>
                <div class="inputs">
                    <input type="text" name="apellido" id="apellido" minlength="3" required placeholder="Apellido/s" />
                    <input type="text" name="nombre" id="nombre" minlength="3" required placeholder="Nombres/s" />
                    <input type="email" name="e-mail" id="e-mail" minlength="10" required placeholder="E-mail" />
                    <input type="password" name="clave" id="clave" minlength="8" required placeholder="Contraseña" />
                    <input type="password" name="re-clave" id="re-clave" minlength="8" required placeholder="Re ingrese contraseña" />
                </div>

                <div class="novedades">
                    <label for="novedades" ><input type="checkbox" name="novedades" id="novedades" /> Deseo recibir ofertas y novedades en mi e-mail </label>
                </div>

                <button class="enviar">Enviar</button>

            </form>
            <div class="img-right">
            </div>
        </div>

    </main>

    <footer>
        <div id="navFooter ">
            <nav>
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Nosotros</a>
                    </li>
                    <li>
                        <a href="">Tienda</a>
                    </li>
                    <li>
                        <a href="">FAQ</a>
                    </li>
                    <li>
                        <a href="">Contacto</a>
                    </li>


                </ul>
            </nav>

        </div>
        <div id="redesFooter ">
            <ul>
                <li>
                    <i class="fab fa-instagram "></i> <a href=" ">To.quioOK</a>
                </li>
                <li>
                    <i class="fab fa-twitter "></i> <a href=" ">To.quio - Indumentaria</a>
                </li>
                <li>
                    <i class="fab fa-facebook-f "></i> <a href=" ">To.quio</a>
                </li>
                <li>
                    <i class="fab fa-whatsapp "></i> <a href=" ">(911)-12445858</a>
                </li>
                <li>
                    <i class="fas fa-envelope "></i> <a href=" ">to.quio@indumentaria.com</a>
                </li>
            </ul>
        </div>
        <p>
            Copyright grupo5bits. - 2022
        </p>
    </footer>
</body>
</html>