<%- include ( './partials/head'); %>
    <%- include ( './partials/header'); %>
        <main>
            <section class="imagen1login">
                <img src="imagenes/1mujer500.jpg" alt="imagenhombre500" class="imagen1">
            </section>
            <section class="seccionlogin">
                <div class="divlogo">
                    <img src="/imagenes/logo2056x1806.png" alt="FotoLogo" class="logologin">
                </div>
                <form class="formlogin" action="" method="post">
                    <h2 class="h2login">LOGIN</h2>
                    <div class="usuariologin">
                        <input type="text" class="inputlogin usuario" name="usuariologin" placeholder="Email o usuario">
                    </div>
                    <div class="passwordlogin">
                        <input type="password" class="inputlogin pass" name="passwordlogin" placeholder="Contraseña">
                    </div>
                    <label for=""><a class="olvidemicontrasenia" href="">Olvide mi contraseña</a></label>
                    <button class="botoningresarlogin" type="submit">INGRESAR</button>
                </form>
                <div class="registrate">
                    <h2 class="registratelogin">No tienes un usuario?</h2>
                    <button class="botonregistratelogin" type="submit">REGISTRATE!</button>
                </div>
            </section>
            <section class="imagen2login">
                <img src="imagenes/1hombre500.jpg" alt="imagenhombre500" class="imagen2">
            </section>
        </main>
        <%- include ( './partials/footer.ejs'); %>