<%- include ( '../partials/head'); %>
    <%- include ( '../partials/header'); %>

        <!-- HEADER -->


        <!-- MAIN -->

        <div class="main">
            <div class="imagen">
                <img src="/imagenes/1mujer500.jpg" alt="imagen-mujer" />
            </div>
            <div class="descrip">
                <div class="content-descrip">
                    <h2>NOMBRE DEL PRODUCTO</h2>
                    <p>$ 69.900</p>
                    <p><strong>New in</strong></p>
                </div>
                <div class="content-descrip">
                    <p>COLOR: NEGRO</p>
                    <i class="fas fa-circle"></i>
                    <p>TALLES:</p>
                    <button class="botones">S</button>
                    <button class="botones">M</button>
                    <button class="botones">L</button>
                </div>
                <div class="content-descrip">
                    <button type="submit" class="boton">COMPRAR</button>
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="content-descrip">
                    <h4>Detalle del producto:</h4>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi facere, dolorem aspernatur voluptas ratione at quae sed ducimus consequuntur a nihil, repudiandae
                    </p>
                </div>
            </div>
        </div>


        <%- include ( '../partials/footer.ejs'); %>