#profile {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

#data {
    margin-top: 20px;
}

.avatar {
    width: 100%;
}

button.buttonlogout{
    background-color: #E52410;
    padding: .5em;
    border: none;
    border-radius: 16px;
    width: 80%;
    font-weight: 800;
    margin-top: 1em;
    color: white;
    transition: all 200ms;
}

button.buttonlogout:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 10px grey;
}

/* Estilo para Tablet */

@media(min-width: 400px) {
    #profile {
        flex-wrap: no-wrap;
    }

    .avatar {
        width: 50%;
        max-width: 400px;
    }

    #data {
        margin-top: 90px;
        margin-left: 40px;
    }
}