<footer>
    <div id="navFooter">
        <nav>
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Nosotros</a>
                </li>
                <li>
                    <a href="/products">Tienda</a>
                </li>
                <li>
                    <a href="">FAQ</a>
                </li>
                <li>
                    <a href="">Contacto</a>
                </li>
            </ul>
        </nav>

    </div>
    <div id="redesFooter">
        <ul>
            <li>
                <i class="fab fa-instagram"></i> <a href=" ">To.quioOK</a>
            </li>
            <li>
                <i class="fab fa-twitter"></i> <a href=" ">To.quio - Indumentaria</a>
            </li>
            <li>
                <i class="fab fa-facebook-f"></i> <a href=" ">To.quio</a>
            </li>
            <li>
                <i class="fab fa-whatsapp"></i> <a href=" ">(911)-12445858</a>
            </li>
            <li>
                <i class="fas fa-envelope"></i> <a href=" ">to.quio@indumentaria.com</a>
            </li>
        </ul>
    </div>
    <p>
        Copyright grupo5bits. - 2022
    </p>
</footer>
</body>

</html>