<header id="encabezado">
    <div id="contenedorLogo">
        <a href='/'><img src="/images/logo2056x1806.png" alt="Logo de la To.quio indumetnaria" id="logo"></a>
    </div>
    <nav id="barraNav">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <ul id="barraNavUl" class="">
            <li>
                <a href="/">Home</a>
            </li>
            <% if (locals.admin) { %> 
                <li>
                    <a href="/products/create">Crear producto</a>
                </li>
            <% } %> 
            <li>
                <a href="/products">Tienda</a>
            </li>
            <% if (locals.isLogged == false) { %>
                <li>
                    <a href="/register">Registro</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
            <% } else { %>

            <li>
                <a href="/perfil">Hola,  <%= locals.userLogged.nombre %>! <i class="fas fa-caret-down"></i></a>
            </li>

            <% } %> 
            <li>
                <a href="/carrito"> <i class="fas fa-shopping-bag"></i></a>
            </li>
        </ul>
    </nav>
</header>