/* Contenedor main */

.productosContenedor {
    margin: 50px auto;
}

#producto {
    margin: 5px;
    text-decoration-line: none;
    border-radius: 12px;
    background-color: #f8f9fa;
}

#producto:hover {
    box-shadow: 10px 10px 30px -2px rgba(0, 0, 0, 0.46);
}

#producto #imgProducto {
    max-width: 100%;
}

#tituloProducto {
    font-size: 1.5rem;
    color: #1C1C1B;
    margin-top: 5px;
}

#categoriaProducto,
#precioProducto {
    font-size: 1rem;
    color: #1C1C1B;
}


/*************************************************************/

#listadoproductos {
    text-align: center;
}


/* Div */

#divproductos {
    width: 300px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    background-color: #1C1C1B;
    text-decoration: none;
}


/* Div de la imagen */

#divimagen {
    width: 100%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}


/* Imagen del producto */

#imgdivproducto {
    width: 80%;
}


/* Nombre del producto */

#h2nombreproducto {
    color: #F2F2F2;
    font-weight: 500;
    padding-top: 5px;
}


/* Precio y categoria */

#pdivproducto {
    color: #F2F2F2;
    padding-bottom: 5px;
    padding-top: 5px;
}


/* Media query: TABLET */

@media(min-width: 361px) {
    /* Contenedor main */
    #listadoproductos {
        display: flex;
        flex-wrap: wrap;
    }
}