<%- include ( './partials/head' ); %>
    <%- include ( './partials/header' ); %>
        <section id="bannerHome">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/imagenes/banner1.jpg" class="d-block w-100 " alt="banner black frida">
                    </div>
                    <div class="carousel-item">
                        <img src="/imagenes/banner2.jpg" class="d-block w-100 " alt="banner ofertas jueves">
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>


        </section>
        <section id="promocionesHome">
            <div id="mujerFotoBanner">


            </div>
            <div id="promocionesBanner">
                <h2>Lorem ipsum </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, et aperiam. Dolorum, non ratione!
                    Nam quaerat voluptate </p>
                <h3>50%</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div id="hombreFotoBanner">

            </div>
        </section>
        <section id="descuentosHome">
            <article class="cajaArticulo">
                <a href="/detalleProducto"> <img src="imagenes/1mujer500.jpg" alt="" class="imgOferta"></a>
                <div class="cajaDescripcionProducto">

                    <h4 class="tituloProductoHome">Top mujer</h4>
                    <i class="fas fa-tags iconoDescuento"></i>
                    <p class="detalleProductoHome">Hasta agotar stock</p>
                    <p class="precioHome">$2.500</p>
                </div>
            </article>
            <article class=" cajaArticulo ">
                <a href="/detalleProducto"><img src="imagenes/2mujer500.jpg " alt=" " class="imgOferta "></a>
                <div class="cajaDescripcionProducto ">

                    <h4 class="tituloProductoHome">Top mujer</h4>
                    <i class="fas fa-tags iconoDescuento "></i>
                    <p class="detalleProductoHome">Hasta agotar stock</p>
                    <p class="precioHome">$2.500</p>
                </div>
            </article>
            <article class="cajaArticulo ">
                <a href="/detalleProducto"><img src="imagenes/3mujer500.jpg " alt=" " class="imgOferta "></a>
                <div class="cajaDescripcionProducto ">

                    <h4 class="tituloProductoHome">Top mujer</h4>
                    <i class="fas fa-tags iconoDescuento "></i>
                    <p class="detalleProductoHome">Hasta agotar stock</p>
                    <p class="precioHome">$2.500</p>
                </div>
            </article>
            <article class="cajaArticulo ">
                <a href="/detalleProducto"><img src="imagenes/1hombre500.jpg " alt=" " class="imgOferta "></a>
                <div class="cajaDescripcionProducto ">

                    <h4 class="tituloProductoHome">Top mujer</h4>
                    <i class="fas fa-tags iconoDescuento "></i>
                    <p class="detalleProductoHome">Hasta agotar stock</p>
                    <p class="precioHome">$2.500</p>
                </div>
            </article>
            <article class="cajaArticulo ">
                <a href="/detalleProducto"><img src="imagenes/2hombre500.jpg " alt=" " class="imgOferta "></a>
                <div class="cajaDescripcionProducto ">

                    <h4 class="tituloProductoHome">Top mujer</h4>
                    <i class="fas fa-tags iconoDescuento "></i>
                    <p class="detalleProductoHome">Hasta agotar stock</p>
                    <p class="precioHome">$2.500</p>
                </div>
            </article>
            <article class="cajaArticulo ">
                <a href="/detalleProducto"><img src="imagenes/3hombre500.jpg " alt=" " class="imgOferta "></a>
                <div class="cajaDescripcionProducto ">

                    <h4 class="tituloProductoHome">Top mujer</h4>
                    <i class="fas fa-tags iconoDescuento "></i>
                    <p class="detalleProductoHome">Hasta agotar stock</p>
                    <p class="precioHome">$2.500</p>
                </div>
            </article>
            <article id="metodosDePagoHome ">
                <div class="pagosHome">
                    <h2>Formas de Pago</h2>
                    <i class="fas fa-credit-card"></i>
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="fab fa-cc-visa"></i>
                    <i class="fas fa-money-bill-alt"></i>

                    <p>Podés pagar tus compras con cualquiera de estos medios. Es rápido y seguro, siempre.<br>Tarjetas de crédito en hasta 24 cuotas.<br>Acreditación instantánea<br>Tarjetas de débito <br>Efectivo. Es muy simple: cuando termines tu compra, te daremos las instrucciones para que sepas cómo y dónde pagarla.</p>
                </div>
            </article>
        </section>

        <%- include ( './partials/footer.ejs' ); %>