<%- include ( './partials/head' ); %>
    <%- include ( './partials/header' ); %>
        <main>
            <div id="NotFound">
                <div class="img-left">
                </div>
                    
                    <div class="ops">
                        <h1>OOOPPSSSS!</h1>
                        <h2>Error 404</h2>
                        <h2>Page not found</h2>
                    </div>
                    
                <div class="img-right">
                </div>
            </div>

        </main>

        <%- include ( './partials/footer.ejs' ); %>